{% extends 'base.html.twig' %}

{% block title %}The Bible Website - About
{% endblock %}

{% block body %}

	<section id="about" class="about route mt-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-box text-center">
						<h3 class="title">
							About
						</h3>
						<div class="line"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="box-shadow-full">
						<div class="row">
							<div class="col-md-12">
								<div class="about-me pt-4 pt-md-0">
									<div class="title-box-2">
										<h5 class="title-left">
											About the Bible
										</h5>
									</div>
									<p class="lead">
										The Bible is the account of God’s action in the world, and his purpose with all
										creation. The writing of the Bible took place over sixteen centuries and is the
										work of over forty human authors. It is quite an amazing collection of 66 books
                                        with very different styles, all containing the message God desired us to have.
									</p>
									<p class="lead">
										This compilation of booklets contains an astonishing variety of literary styles.
										It provides many stories about the lives of good and bad people, about battles
										and journeys, about the life of Jesus, and about early church activity. It comes
										to us in narratives and dialogues, in proverbs and parables, in songs and
										allegories, in history and prophecy.
									</p>
									<p class="lead">
										The accounts in the Bible were not generally written down as they occurred.
										Rather they were told over and over again and handed down through the years,
										before eventually being written down. Yet the same themes may be found
										throughout the book. Along with the diversity, there is also remarkable unity
										throughout.
									</p>
									<p class="lead">A guide for living life to the full.</p>
									<p class="lead">A refuge in trouble.</p>
									<p class="lead">A treasury of insight as to who God is and who we are.</p>
									<p class="lead">A sourcebook for everyday living.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Facts Section -->
	<section id="service" class="services-mf route">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-box text-center">
						<h3 class="title">
							Facts
						</h3>
						<div class="line"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="section-counter paralax bg-image" style="background-image: url({{ asset('build/images/main-bg.jpg') }})">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">

                        <div class="col-sm-3 col-lg-3">
                            <div class="counter-box">
                                <div class="counter-ico">
                                    <span class="ico-circle"><i class="fas fa-clock"></i></span>
                                </div>
                                <div class="counter-num">
                                    <p class="counter">1600</p>
                                    <span class="counter-text">YEARS OF WRITING</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 col-lg-3">
                            <div class="counter-box">
                                <div class="counter-ico">
                                    <span class="ico-circle"><i class="fas fa-scroll"></i></span>
                                </div>
                                <div class="counter-num">
                                    <p class="counter">66</p>
                                    <span class="counter-text">BOOKS</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 col-lg-3">
                            <div class="counter-box">
                                <div class="counter-ico">
                                    <span class="ico-circle"><i class="fas fa-feather"></i></span>
                                </div>
                                <div class="counter-num">
                                    <p class="counter">40</p>
                                    <span class="counter-text">AUTHORS</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 col-lg-3">
                            <div class="counter-box">
                                <div class="counter-ico">
                                    <span class="ico-circle"><i class="fas fa-cross"></i></span>
                                </div>
                                <div class="counter-num">
                                    <p class="counter">1</p>
                                    <span class="counter-text">MESSAGE</span>
                                </div>
                            </div>
                        </div>

			</div>
		</div>
	</div>
	<!--/ Facts Section /-->

	<a href="#" class="back-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>
    
	<div id="preloader"></div>

{% endblock %}
