$white: #fff;
$dark-white: #f5f5f5;
$reddish-white: #f5dcdc;
$red: #be3131;
$dark-red: #9c0d0d;
$darker-red: #681b1b;
$grey: #4e4e4e;
$dark-grey: #1e1e1e;
$darker-grey: #1b1b1b;

$bg-color: $dark-white;
$btn_box-shadow: $reddish-white;
$box-shadow:  rgba(0, 0, 0, 0.1);
$main-color: $red;
$main-color-hover: $dark-red;