@import './colors';

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark-grey;
}

a {
    color: $dark-grey;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: $main-color;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.title-box {
    margin-bottom: 4rem;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.title-box-2 {
    margin-bottom: 3rem;
}

.title-left {
    font-size: 2rem;
    position: relative;
}

.title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: $main-color;
    width: 100px;
    bottom: -12px;
}