{% extends 'base.html.twig' %}

{% block title %}The Bible Website
{% endblock %}

{% block body %}

	<!-- Main -->
	<div id="home" class="intro route bg-image" style="background-image: url({{ asset('build/images/main-bg.jpg') }})">
		<div class="overlay-intro"></div>
		<div class="intro-content display-table">
			<div class="table-cell">
				<div class="container">
					<h1 class="intro-title mb-4">Bible</h1>
					<p class="intro-subtitle">The Word of God</p>
					<p class="pt-3">
						<a class="btn btn-danger js-scroll px-4" href="{{ path('read')}}" role="button">Read</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Main -->

	<div id="preloader"></div>

{% endblock %}
