{% extends 'base.html.twig' %}

{% block title %}The Bible Website - Read
{% endblock %}

{% block body %}

	<!-- Bible -->
	<section id="about" class="read route mt-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="box-shadow-full">
						<div class="row">
							<div class="col-md-12">
								<div class="about-me pt-4 pt-md-0">
									<div class="title-box-2">
										<h5 class="title-left">
											Bible
										</h5>
									</div>


									<form action="{{ path('search') }}" role="form" method="GET">
										<div class="row">
											<div class="col-md-3 mb-3">
												<div class="form-group">
													<input type="text" name="book" class="form-control" id="book" placeholder="Book"/>
													<span class="form-error"></span>
												</div>
											</div>
											<div class="col-md-2 mb-3">
												<div class="form-group">
													<input type="number" class="form-control" name="chapter" id="chapter" placeholder="Chapter"/>
													<span class="form-error"></span>
												</div>
											</div>
											<div class="col-md-1">
												<button id="button-submit" type="submit" class="btn btn-danger js-scroll px-4">Search
												</button>
											</div>
										</div>
									</form>

									<div class="mt-4">

										<h4>
											{{ reference }}
										</h4>

										<div id="passage">
											{% for verse in verses %}
												<p>
													<strong id="verse-number">{{ verse.number }}.</strong>
													<span id="verse-text">{{ verse.text }}</span>
													{% if verse.saved %}
														<a class="verse-button" href="{{ path('unsave', {book: verse.book, chapter: verse.chapter, number: verse.number, routeName: page}) }}">Unsave</a>
													{% else %}
														<a class="verse-button" href="{{ path('save', {book: verse.book, chapter: verse.chapter, number: verse.number, text: verse.text}) }}">Save</a>
													{% endif %}
												</p>
											{% endfor %}
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Bible -->

	<a href="#" class="back-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>
	<div id="preloader"></div>

{% endblock %}
