{% extends 'base.html.twig' %}

{% block title %}The Bible Website - Saved
{% endblock %}

{% block body %}

	<section id="saved" class="saved route mt-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-box text-center">
						<h3 class="title">
							My verses
						</h3>
						<div class="line"></div>
					</div>
				</div>
			</div>
			<div class="row">

				{% for verse in verses %}

					<div class="col-md-4">
						<div class="verse-box">
							<div class="service-content">
								<h2 class="v-title">{{ verse.book }} {{ verse.chapter }}:{{ verse.number }}</h2>
								<p class="v-description text-center">
									{{ verse.text }}
									<a class="verse-button" href="{{ path('unsave', {book: verse.book, chapter: verse.chapter, number: verse.number, routeName: page}) }}">Unsave</a>
								</p>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</section>

	<a href="#" class="back-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>
	<div id="preloader"></div>

{% endblock %}
