.btn-primary,
.btn-danger {
    background-color: $main-color;
    color: $white;
    border-color: $main-color;
}

.btn-primary:hover,
.btn-danger:hover,
.btn-primary:focus,
.btn-danger:focus,
.btn-primary:active,
.btn-danger:active,
.btn-primary.active,
.btn-danger.active {
    background-color: $darker-red;
    color: $white;
    border-color: $darker-red;
}

#btn-previous {
    cursor: pointer;
}

#btn-next {
    cursor: pointer;
}

.back-to-top {
    position: fixed;
    display: none;
    background: $main-color;
    color: $white;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: $white;
}

.button {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    transition: all 500ms ease;
    cursor: pointer;
}

.button:focus {
    outline: 0;
}

.button:hover {
    background-color: $main-color-hover;
    color: $white;
    transition: all 500ms ease;
}

.button-big {
    padding: 0.9rem 2.3rem;
    font-size: 1.2rem;
    background-color: $main-color;
    color: $white;
    border-color: $reddish-white;
}

.button-rouded {
    border-radius: 5rem;
}