.counter-box {
    color: $white;
    text-align: center;
}

.counter-ico {
    margin-bottom: 1rem;
}

.counter-ico .ico-circle {
    height: 60px;
    width: 60px;
    line-height: 1.8;
    box-shadow: 0 0 0 10px $reddish-white;
}

.counter-num .counter {
    font-size: 2rem;
    margin-bottom: 0;
}

@media (min-width: 577px) {
    .counter-box {
        margin-bottom: 1.8rem;
    }
}