.verse-box {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    background-color: $white;
    padding: 2.3rem 1.3rem 2.0rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.verse-box .v-title {
    font-size: 1.4rem;
    text-align: center;
    padding: 0.4rem 0;
}

.verse-box .v-description {
    color: #4e4e4e;
}

.verse-button {
    color: $main-color;
}

.verse-button:hover {
    color: $main-color-hover;
}