.intro {
    height: 100vh;
    position: relative;
    color: $white;
}

.intro .intro-content {
    text-align: center;
    position: absolute;
}

.intro .overlay-intro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.intro .intro-title {
    color: $white;
    font-weight: 600;
    font-size: 3rem;
}

.intro .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

.intro .text-slider-items {
    display: none;
}