@import "./global/typography";
@import "./global/colors";
@import "./components/buttons";
@import "./components/preloader";
@import "./components/navbar";
@import "./components/verse";
@import "./intro";
@import "./components/counter";
@import "./validation";

body {
    background-color: $bg-color;
    color: $grey;
}

.box-shadow,
.paralax {
    box-shadow: 0 13px 8px -10px $box-shadow;
}

.box-shadow-a,
.button:hover {
    box-shadow: 0 0 0 4px $btn_box-shadow;
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.overlay {
    background-color: $main-color;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.paralax {
    position: relative;
    padding: 4rem 0;
}

.display-table {
    width: 100%;
    height: 100%;
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.line {
    width: 40px;
    height: 5px;
    background-color: $main-color;
    margin: 0 auto;
}

.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: $white;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.socials,
.bible-nav {
    padding: 1.5rem 0;
}

.socials ul li,
.bible-nav ul li {
    display: inline-block;
}

.socials .ico-circle,
.bible-nav .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px $main-color;
    transition: all 500ms ease;
}

.socials .ico-circle:hover,
.bible-nav .ico-circle:hover {
    background-color: $main-color;
    color: $white;
    box-shadow: 0 0 0 3px $btn_box-shadow;
    transition: all 500ms ease;
}

.bible-nav ul {
    text-align: center;
}

.socials ul,
.bible-nav ul,
.list-ico {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.list-ico {
    line-height: 2;
}

.list-ico span {
    color: $main-color;
    margin-right: 10px;
}

.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px $main-color;
    display: block;
}

.about {
    padding: 4rem 0;
}

.read,
.saved {
    padding: 4rem 0;
    background-color: $dark-white;
}

.about .box-shadow-full,
.read .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.contact {
    margin-top: 4rem;
}

@media (min-width: 767px) {
    .contact {
        margin-top: 3rem;
        padding-left: 0rem;
    }
}

@media (min-width: 768px) {
    .box-shadow-full {
        padding: 3rem;
    }
    .navbar-b.navbar-trans .nav-item,
    .navbar-b.navbar-reduce .nav-item {
        padding-left: 10px;
    }
    .navbar-b.navbar-trans .nav-link:before,
    .navbar-b.navbar-reduce .nav-link:before {
        margin-left: 18px;
    }
    .intro .intro-title {
        font-size: 4.5rem;
    }
    .intro .intro-subtitle {
        font-size: 2.5rem;
    }
    .intro-single .intro-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

@import "~bootstrap/scss/bootstrap";
