{% extends 'base.html.twig' %}

{% block title %}The Bible Website - Contact
{% endblock %}

{% block body %}

	<!-- Contact -->

	<section class="paralax footer-paralax bg-image sect-mt3 route" style="background-image: url({{ asset('build/images/main-bg.jpg') }})">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="contact">
						<div id="contact" class="box-shadow-full">
							<div class="row">
								<div class="col-md-6">
									<div class="title-box-2">
										<h5 class="title-left">
											Contact
										</h5>
									</div>
									<div>
										<form action="{{ path('send_message') }}" role="form" method="POST">
											<div class="row">
												<div class="col-md-12 mb-3">
													<div class="form-group">
														<input type="text" name="name" class="form-control" id="name" placeholder="Name"/>
														<span class="form-error"></span>
													</div>
												</div>
												<div class="col-md-12 mb-3">
													<div class="form-group">
														<input type="email" class="form-control" name="email" id="email" placeholder="Email"/>
														<span class="form-error"></span>
													</div>
												</div>
												<div class="col-md-12 mb-3">
													<div class="form-group">
														<textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
														<span class="form-error"></span>
													</div>
												</div>
												<div class="col-md-12">
													<button id="button-submit" type="submit" class="button button-big button-rouded">Send
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-md-6">
									<div class="title-box-2 pt-4 pt-md-0">
										<h5 class="title-left">
											Info
										</h5>
									</div>
									<div class="more-info">
										<ul class="list-ico">
											<li>
												<i class="fa fa-map-marker-alt"></i>
												Undeva pe Lume</li>
											<li>
												<i class="fa fa-phone"></i>
												0772 065 445</li>
											<li>
												<i class="fa fa-envelope"></i>
												alexandru.rotariu@emanuel.ro</li>
										</ul>
									</div>
									<div class="socials">
										<ul>
											<li><a href="https://www.facebook.com/alexandru.rotariu.2000" target="_blank"><span class="ico-circle"><i class="fa fa-facebook"></i></span></a></li>
											<li><a href="https://www.instagram.com/a.l.e.x.rotariu/" target="_blank"><span class="ico-circle"><i class="fa fa-instagram"></i></span></a></li>
											<li><a href="https://twitter.com/AlexandruRota17" target="_blank"><span class="ico-circle"><i class="fa fa-twitter"></i></span></a></li>
											<li><a href="https://ro.pinterest.com/" target="_blank"><span class="ico-circle"><i class="fa fa-pinterest"></i></span></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact -->

	<a href="#" class="back-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>
	<div id="preloader"></div>

{% endblock %}
