<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta name="description" content="A Bible reading website">
		<meta name="author" content="Alexandru Rotariu">
		<meta
		name="keywords" content="bible, scripture">

		<!-- Favicon -->
		<link href="{{ asset('build/images/favicon.png') }}" rel="icon">

		<title>
			{% block title %}The Bible Website
			{% endblock %}
		</title>
		
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			<script src="node_modules\jquery\dist\jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body id="page-top"> 
		<!-- Nav -->
		<nav class="navbar navbar-b {% if page == "home" %} navbar-trans {% else %} navbar-reduce {% endif %} navbar-expand-md fixed-top" id="mainNav">
			<div class="container">
				<img src="{{ asset('build/images/favicon.png') }}" class="mr-1" alt="Bible">
				<a class="navbar-brand js-scroll" href="#page-top">Bible</a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link js-scroll {% if page == "home" %} active {% endif %}" 
							href="{% if page == "home" %} #page-top {% else %} {{ path('home')}} {% endif %}">
							Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll {% if page == "about" %} active {% endif %}" 
							href="{% if page == "about" %} #page-top {% else %} {{ path('about')}} {% endif %}">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll {% if page == "contact" %} active {% endif %}" 
							href="{% if page == "contact" %} #page-top {% else %} {{ path('contact')}} {% endif %}">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll {% if page == "read" %} active {% endif %}" 
							href="{% if page == "read" %} #page-top {% else %} {{ path('read')}} {% endif %}">Read</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll {% if page == "saved" %} active {% endif %}" 
							href="{% if page == "saved" %} #page-top {% else %} {{ path('saved')}} {% endif %}">My verses</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Nav -->
		{% block body %}{% endblock %}
		<script src="https://kit.fontawesome.com/d49b4c9477.js" crossorigin="anonymous"></script>
	</body>
</html>
